body{
  margin-top: 57px
}

@import url("https://fonts.googleapis.com/css?family=Trirong");
h1, h2, h3, h4, h5,h6, a, 
p {
  font-family: "Trirong", sans-serif;
}


.navbar {
  background-color: rgba(0, 0, 0, 1);
}

.banner {
  background-image: url("./imagenes/fondoBanner.jpg");
  background-size: cover;

  width: 100%;
  height: 100vh;
}

.textoBanner {
  text-align: center;
  color: white;

  padding: 50px;
  height: 100%;

  background-color: rgba(0, 0, 0, .9);

}

.imagenPerfil{
  border-radius: 100%;
  width: 15%;
  height: 15%;
  margin-bottom: 2%;
}

.hps {
  margin-top: 50px;
  margin-bottom: 50px;
}

.link{
  width: 30%;
  margin: 0.3%;
}

.proyectos{
  display: flex;
}

.tarjeta{
  border-radius: 10px;
  border-color: black;
  border-style: solid;

  color: white;

  background-size: cover;
  
  padding: 20px;
  margin: 1%;

  width: 47%;
}

.tarjeta .texto{
  padding: 10%;
}

.tarjeta .cuerpo{
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(2px);

  border-radius: 10px;
  height: 100%;
}

.contactoFormulario{
  width: 100%;
  text-align: center;
}

.footer {
  background-color: black;
}

@media(max-width:1200px){
  .imagenPerfil{
    width: 50%;
    height: 50%;
    margin-bottom: 5%;
  }
  .tarjeta{
    width: 90%;
  }
}

@media(max-width:760px) {
  .imagenPerfil{
    width: 60%;
    height: 60%;
    margin-bottom: 5%;
  }
  .link{
    width: 50%;
  }
  .tarjeta{
    width: 100%;
  }
}

a:hover{
  cursor: pointer;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, p:hover{
  cursor: default;
}

.tarjeta:hover{
  filter: saturate(200%);
  transition:all .5s ease-in-out;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}